button {
    background-color: cornflowerblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    flex: .1;
    transition: 0.5s;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-decoration: none;
}

