    *{
        display: flex;
        justify-content: center;
        text-align: center;
        align-content: center;
        flex-direction: column;
    }

    .signup-form-container {
        display: flex;
        justify-content: center;
        text-align: center;
        align-content: center;
        flex-direction: column;
        align-items: center;
        form {
            display: flex;
            justify-content: center;
            text-align: center;
            align-content: center;
            flex-direction: column;
            align-items: center;
            width: 100px;
        }

        padding-bottom: 40px;
    }
